.resultPage {
  background: #A2C7D7;
  height: 100vh;
}
.title{
  color: white;
  padding-top: 48px;
  text-align: center;
}
.scrp{
  color: white;
  margin-bottom: 48px;

}
.enterBtn{
  //自定義寬度
  width: 60vw;
}
.backg{
  height: 3020px;
  width: 790px;
}
