.doQuestionPage {

  .title{

    margin-bottom: 48px;
  }

  .enterBtn{
    //自定義寬度
    width: 70vw;
    margin-top: 48px;

  }
  .controlBtn{
    //自定義寬度
    width: 70vw;
    margin-top: 48px;

  }


}
